/* Join Us section and Universities section */

.modal-content{
    background: rgb(234, 242, 243);
}
.btn1{
    border-radius: 10px;
    border: 1px solid black;
    padding: 8px 18px;
    background-color: rgba(241, 227, 227, 0.665);
}
.btn1:hover{
    background-color: white;
    color: black;
}

/* navbar hover section */

.nav-link{
    font-size: 20px;
    font-weight: 5px;
    margin-left: 20px;
}

.nav-link:hover{
    background-color: rgb(5, 93, 5);
    border-radius: 8px;
    color: white;
}



/* Heading  */
.course h2{
    text-align: center;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    max-width: 570px;
    margin: auto;
    border-radius: 33px;
    margin-top: 21px;
    padding: 4px;
    cursor: pointer;
    transition: all 0.6s;
}
.course h2:hover{

 color: white;
 background: gray;
}
.course h1{
    margin: 10px 0px 10px 0px;
}