/* Join Us section and Universities section */

.modal-content{
    background: rgb(234, 242, 243);
}
.btn1{
    border-radius: 10px;
    border: 1px solid black;
    padding: 8px 18px;
    background-color: rgba(241, 227, 227, 0.665);
}
.btn1:hover{
    background-color: white;
    color: black;
}

/* navbar hover section */

.nav-link{
    font-size: 20px;
    font-weight: 5px;
    margin-left: 20px;
}

.nav-link:hover{
    background-color: rgb(5, 93, 5);
    border-radius: 8px;
    color: white;
}


/* video and content css*/


.hero{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    /* align-items: center;
    /* justify-content: center; */ 
}
.content{
    position: absolute;
    bottom: 77px;
}
.content h1{
    font-size: 57px;
    color: white;
    font-weight: 900;
}
.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    
} 

 @media (min-aspect-ratio:16/9)
{
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9)
{
    .back-video{
        width: auto;
        height: 100%;
    }
}

    .button {
        color: white;
        position: absolute;
        left: 63px;
        bottom: 22px;
        border: 2px solid white;
        padding: 5px 21px;
        border-radius: 34px;
        font-size: 21px;
    }

.button:hover{
    border: 2px solid black;
    background-color: white;
    color: black;
}



/* Inspire Introduction */

.intro{
    /* border: 2px solid red; */
    background: #c9dddd;
    color: black;
    transition: all 0.6s ease-in-out ;
}
.intro1 h1{
    font-size: 84px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 1px;
    margin-bottom: 7px;
    transition: all 1s ease-in-out ;
}
.para{
    padding: 0px 0px 0px 0px;
    width: 1066px;
    margin: auto;
    font-size: 25px;
    transition: all 1s ;
    display: flex;
    flex-wrap: wrap;
}
.intro:hover{
    background-color: grey;
}

/* All Round Development */
.development{
    background-color: black;
}
.heading{
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 45px;
    font-family: math;
    position: relative;
    top: 21px;
    transition: all 0.2s ease-in-out;
}
.heading:hover{
    color: gray;
    cursor: pointer;
}
.imga{
    margin: 58px 0px 79px 225px;
    border-radius: 20px;
    transition: all 0.6s ease-in-out;
}
.imga:hover{
    transform: scale(1.2) ;
    /* height: 320px;
    width: 320px; */
}
.img1a{
    margin: 0px 0px 79px 225px;
    border-radius: 20px;
    transition: all 0.6s ease-in-out;
}
.img1a:hover{
    transform: scale(1.2) ;
}
.detail{
    color: white;
    margin: -47px 0px 50px 225px;
    font-size: 19px;
    font-weight: 700;
    position: relative;
    bottom: 32px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.detail:hover{
    color: gray;
}
.images{
    display: flex;
    flex-wrap: wrap;
}

/* Goals */
.goals{
    background: #c9dddd;
    color: black;
    transition: all 0.6s ease-in-out ;
}
.goals:hover{
    background: grey;
}
.goal-points{
    font-size: 23px;
}
.goal-heading{
    font-size: 44px;
    font-weight: 700;
    text-align: center;
}

/* footer */
.cursor{
 cursor: pointer;
}
